<!--
<nav>
  <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
  <a [routerLink]="['/heroes']" routerLinkActive="active">Heroes</a>
</nav>-->
<div id="header">
  <a title="Главная"    class="a" href="/"></a>
  <a title="Справка"    class="b wiki" [routerLink]="['/wiki']"></a>
  <a title="Обратиться" class="b chat" href="/"></a>

  <div class="c">
    <input id="search" #searchInputElement type="text" autofocus>
    <div class="search--field-helper">
        <i>Например: </i><a href="">Грибы</a>
    </div>
    <span (click)="startSearchLabel(searchInputElement)" [class.hidden]="itsStartSearchLabel">НАЧНИТЕ ПОИСК ОТСЮДА...</span>
  </div>

  <a title="Главная"    class="b account" href="/"></a>
  <a title="Главная"    class="b cart" href="/"></a>
  <div class="a"></div>
</div>


<div id="wrapper">






<div id="goBack" (click)="goBack()"></div>



<router-outlet></router-outlet>


</div>


<bagview></bagview>