<div *ngIf="product">
  {{product.name}}

  <div *ngIf="product.count" class="regulator">
    <button (click)="decrease()">-</button>
    <div (keyup)="changeCount()">{{product.count | measureUnit: product.meta.step}}</div>
    <button (click)="increase()">+</button>
  </div>

  <div *ngIf="!product.count">
    <button (click)="addToShoppingCart()">Добавить в корзину</button>
  </div>

  <p>Изображение и цвет представленного товара может незначительно отличаться от оригинала продукции</p>

</div>

<canvas #canvas (mousedown)="canvasMouseDown()" (mouseup)="canvasMouseUp()" (mouseleave)="canvasMouseUp()"></canvas>

