<!--
<nav>
  <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
  <a [routerLink]="['/heroes']" routerLinkActive="active">Heroes</a>
</nav>-->


<div id="content" [@componentState]="componentState" >

  <div id="header">
    <a title="Главная"    class="a" href="/"></a>
    <a title="Справка"    class="b wiki" [routerLink]="['/wiki']"></a>
    <a title="Обратиться" class="b chat" href="/"></a>

    <div class="c">
      <input id="search" #searchInputElement type="text" autofocus>
      <input type="button">
      <span (click)="startSearchLabel(searchInputElement)" [class.hidden]="itsStartSearchLabel">НАЧНИТЕ ПОИСК ОТСЮДА...</span>
    </div>

    <a title="Главная"    class="b account" href="/"></a>
    <div class="b"></div>
    <div class="a">
      <div title="Главная" class="btn cart" [class.active]="bagviewSwitch" (click)="showHideShoppingCart()"></div>
    </div>
  </div>

<div class="search--field-helper">
          <i>Например: </i><a href="">Грибы</a>
      </div>


  <div class="content">
    <div id="goBack" (click)="goBack()"></div>
    <router-outlet></router-outlet>
  </div>

</div>


<bagview></bagview>


