
#bagview {
    width: 260px;
    background: #FFF;
    @border-left: 1px solid #4285F4;
    box-sizing: border-box;
    box-shadow: -2px 0 2px #CCC;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}

#bagview table {
    width: 100%;
}

#bagview td {
    vertical-align: middle;

}

#bagview tr {
    cursor: pointer;
}

#bagview tr:hover {
    background-color: #EEE;
}

#bagview tr:active {
    background-color: #CCC;
}

.cart-viewer--header {
    background-color: #FF9800;
    color: #FFF;
    text-transform: uppercase;
    padding: 8px 0;
    font-size: 1.3em;
    text-align: center;
}

.cart-viewer--checkout {
    background-color: #4285F4;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    display: block;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #FFF;
}

.cart-viewer--total {
    background-color: #EEE;
    font-size: 1.3em;
    padding: 16px 8px;
    text-align: center;
}

progress {
    width: 100%;
}