<div id="bagview"
     *ngIf="!hidden"
     #cartElement
     (mouseover)="showHideScrollbar($event)"
     (mouseleave)="showHideScrollbar($event)"
     [@bagiewState]="">

  <div class="cart-viewer--header">Корзина</div>
  <div id="about" class="nano">
    <div class="nano-content">
      <table>
        <tr *ngFor="let product of products; let i=index" (click)="gotoDetail(product)">
          <td style="color: #CCC; font-size: 0.8em">{{i + 1}}</td>
          <td><img height="50px" src="{{product.photo}}" alt=""></td>
          <td>{{product.count | measureUnit: product.meta.step}}</td>
          <td> -> </td>
          <td style="font-weight: bold">{{ product.count * product.price }},00Р</td>
          <td (click)="remove(product, $event)">Х</td>
        </tr>
      </table>
    </div>
  </div>

  <progress tooltip="content to be shown in the tooltip" tooltipPlacement="top" title="Минимальная сумма заказа - 1000 руб." [value]="itsTotal" max="1000"></progress>
  <div class="cart-viewer--total">ИТОГО: {{ itsTotal }}</div>
  <a [routerLink]="['/checkout']" class="cart-viewer--checkout">Оформить заказ</a>
</div>