<div *ngIf="shoppingCartIsNotEmpty" id="cart-viewer" (mouseover)="showHideScrollbar($event)" (mouseleave)="showHideScrollbar($event)">
  <div class="cart-viewer--header">Корзина</div>
  <div id="about" class="nano">
    <div class="nano-content">
      <table>
        <tr *ngFor="let product of products; let i=index" (click)="gotoDetail(product)">
          <td>{{i + 1}}</td>
          <td><img height="50px" src="{{product.photo}}" alt=""></td>
          <td>{{ product.count }}</td>
          <td>*</td>
          <td>{{ product.price }}</td>
          <td>=</td>
          <td>{{ product.count * product.price }}</td>
          <td (click)="remove(product, $event)">del</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="cart-viewer--total">ИТОГО: {{ itsTotal }}</div>
  <a [routerLink]="['/checkout']" class="cart-viewer--checkout">Оформить заказ</a>
</div>