#header {
    margin: 20px auto;
    display: flex;
}

.header-btn {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 4px;
    background-repeat: no-repeat;
}

.wiki {
    background-image: url("/static/app/img/ic_reorder_black_36px.svg");
}

.chat {
    background-image: url("/static/app/img/ic_question_answer_black_36px.svg");
}

.cart {
    background-image: url("/static/app/img/ic_shopping_cart_black_36px.svg");
}

.account {
    background-image: url("/static/app/img/ic_account_circle_black_36px.svg");
}



#header div:nth-child(1) {
    display: flex;

}

#header div:nth-child(2) {
    width: 100%;
}

#header div:nth-child(3) {
    display: flex;

}

#goBack {
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #EEE;
}